<body>
    <a href="#" class="js-cool-style-nav-toggle cool-style-nav-toggle" th:fragment="header" ><i></i></a>
    <aside id="cool-style-aside" role="complementary" class="border js-fullheight">

        <h1 id="cool-style-logo"><a href="index.html">IT'S A LIFE!?</a></h1>
        <nav id="cool-style-main-menu" role="navigation">
            <ul>
                <li><a th:href="@{index}">Home</a></li>
                <li><a th:href="@{blog}">Blog</a></li>
                <li><a th:href="@{contact}">Contact</a></li>
            </ul>
        </nav>

        <div class="cool-style-footer">
            <div class="form-group" sec:authorize="!isFullyAuthenticated()">
                <a th:href="@{login}">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Login</button>
                </a>
            </div>
            <div class="form-group" sec:authorize="isFullyAuthenticated()">
                Hi, <h3 class="username" sec:authentication="name">  </h3>
                <form method="post" th:action="@{/logout}">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Logout</button>
                </form>
            </div>

        </div>

    </aside>
</body>